# Admin credentials
ADMIN_EMAIL=admin@tamanbalaraja.rt
ADMIN_PASSWORD_HASH=$2b$10$VQl5pWbFt6zIsvrnUUGNJOip320nebQsS6SxQYz3WUcrGToi1vRZK
# Default password: AdminRT2026!

# OTP via email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# Tampilkan OTP di layar tanpa SMTP (development)
OTP_MOCK=true
